* {
    padding: 0;
    margin: 0;
}
nav {
    margin-top: 5%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    
    
}   
a {
    text-decoration: none;
    color: black;   
    font-size: 5.25rem;
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 200;
    
}
a:hover {
    color:solid black;
}

body {
    background: linear-gradient(217deg, rgb(207, 65, 243), rgb(241, 230, 241) 70.71%),
    linear-gradient(127deg, rgb(236, 232, 238), rgb(238, 232, 232) 70.71%),
    linear-gradient(336deg, rgb(236, 236, 238), rgb(244, 241, 247) 70.71%);
    height: 120vh;
    width: 100%;
    background-repeat: no-repeat;
    
}
li {
    float: left;
}
/* icon för meny */


.burger div {
    width: 37px;
    height: 5px;
    background-color:black;
    margin: 5px;
    border-radius: 20px;
    transition: all 0.5s;
}
.burger {
    position: fixed;
    top: 7%;
    right: 7%;
    z-index: 100;
}


.burger-toggle #line2{
    opacity: 0;
}

.burger-toggle #line1{
    transform: rotate(-45deg) translate(-5px, 7px);
}

.burger-toggle #line3{
    transform: rotate(45deg) translate(-6px, -10px);
}

.nav{
    display: flex;
    position: fixed;
    top: -130vh;
    width: 100%;
    height: 120vh;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(217deg, rgb(214, 171, 255), rgb(218, 132, 218) 70.71%),
    linear-gradient(127deg, rgb(236, 232, 238), rgb(238, 232, 232) 70.71%),
    linear-gradient(336deg, rgb(236, 97, 218), rgb(244, 241, 247) 70.71%);
    transition: top 1s;
    font-family: ff-basic-gothic-pro, sans-serif;
    text-decoration: 2px underline;
    
} 
#val1 a {
    font-size: 4rem;
}
#val2 a {
    font-size: 4rem;
}
#val3 a {
    font-size: 4rem;
}



.toggle {
    top: 0;
}
.nav #val1 {
    display: flex;
    justify-content: center;
}
.nav #val2 {
    display: flex;
   justify-content: center;
}
.nav #val3 {
    display: flex;
    justify-content: center;
}

#frontpage {
    display: grid;
    height: 100vh;
    gap: 2%
}
#news_frontpage {
    background-color: rgb(227, 227, 233);
    display: grid;
    grid-template-rows: 12% 78% 10%;
    border-radius: 10px;
    color: black;
    width: 78%;
    height: 30vh;
    margin: auto;
    border: 1px solid rgba(109, 107, 107, 0.5);
}
.img_stock {
    height: 90%;
    border-radius: 10px;
    margin: auto;
    /* margin-bottom: 10px; */
}
h2{
    margin: auto;
    font-family:ff-basic-gothic-pro, sans-serif; ;
}
.title_frontpage {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-size:2.3rem;
    margin: auto;
}
#winner_frontpage {
    background-color: rgb(227, 227, 233);
    display: grid;
    grid-template-rows: 12% 88%;
    color:rgb(51, 230, 51);
    border-radius: 10px;
    border: 2px rgb(63, 61, 61);
    width: 78%;
    height: 100%;
    margin: auto;
    border: 1px solid rgba(109, 107, 107, 0.5);
    
}
#loser_frontpage {
    background-color: rgb(227, 227, 233);
    display: grid;
    grid-template-rows: 12% 88%;
    color:rgb(253, 0, 0);
    border-radius: 10px;
    width: 78%;
    height: 100%;
    margin: auto;
    border: 1px solid rgba(109, 107, 107, 0.5);
}


table {
    height: 100%;
    margin: auto;
    width: 70%;
    text-align: center;
    
}
td {
    font-size: 2rem;
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid black;
    border-radius: 7px;
    background: rgb(214, 212, 212);

}
th {
    font-size: 2rem;
    font-family: ff-basic-gothic-pro, sans-serif;
    color: black;
    margin: auto;
}
.company {
    color: black;
    border: none;
    text-decoration: 0.6px underline;
    font-size: 3rem;
    background: rgb(227, 227, 233);
}
header {
    height:100%;
    display: flex;
    margin: auto;
}


/* footer {
    bottom: 0px;
    width: 100vw;
    height: 10%;
    background-color: rgb(82, 82, 82);
} */





/* HÄR BÖRJAR BÖRSEN_IDAG.HTML */





#gridwrapper {
    display: grid;
    grid-gap: 3%;
}

.table {
    background-color: rgb(253, 253, 253);
    width: 90%;
    margin: auto;
    border-radius: 5px;
    
}




.newswrapper {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    border-radius: 10px;
    color: black;
    width: 85%;
    height: 120vh;
    margin: auto;
    border: 1px solid rgba(109, 107, 107, 0.5);
    background-color: rgb(36, 52, 122);
    
}
.news {
    background-color: rgb(255, 255, 255);
    margin: 13px;
    border-radius: 10px;
}
.newstitle {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}