* {
    padding: 20;
    margin: 0;
}
nav {
    margin-top: 5%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    
    
}   
a {
    text-decoration: none;
    color: black;   
    font-size: 5.25rem;
    font-family: amador, sans-serif;
    font-weight: 400;
    font-style: normal;
}
a:hover {
    color:solid black;
}

body {
    /* background-image: url(../img/markus-spiske-69ppqHiG9Xo-unsplash.jpg);
    background-size: cover;  */
    background: linear-gradient(217deg, rgba(206, 156, 253, 0.8), rgba(243, 238, 238, 0) 70.71%),
            linear-gradient(127deg, rgba(218, 211, 221, 0.8), rgba(244, 245, 244, 0) 70.71%),
            linear-gradient(336deg, rgba(153, 153, 240, 0.8), rgba(135, 135, 138, 0) 70.71%);
    height: 120vh;
    width: 100%;
    
}
li {
    float: left;
}
/* icon för meny */


.burger div {
    width: 37px;
    height: 5px;
    background-color:black;
    margin: 5px;
    border-radius: 20px;
    transition: all 0.5s;
}
.burger {
    position: absolute;
    top: 7%;
    right: 7%;
    z-index: 100;
}


.nav{
    display: grid;
    position: absolute;
    top: -110vh;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background: rgb(170, 169, 169);
    transition: top 1s;
}

.toggle {
    top: 0;
}
.nav #val1 {
    display: flex;
    font-size: 2.25rem;
    justify-content: center;
    margin-top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav #val2 {
    display: flex;
    font-size: 2.25rem;
    justify-content: center;
    margin-top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav #val3 {
    display: flex;
    font-size: 2.25rem;
    justify-content: center;
    margin-top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#frontpage {
    display: grid;
    height: 100vh;
    gap: 2%
}
#news_frontpage {
    background-color: rgb(227, 227, 233);
    display: grid;
    grid-template-rows: 20% 80%;
    justify-content: center;
    border-radius: 10px;
    color: black;
    width: 78%;
    height: 100%;
    margin: auto;
}
#winner_frontpage {
    background-color: rgb(227, 227, 233);
    display: grid;
    grid-template-rows: 12% 88%;
    color:rgb(51, 230, 51);
    border-radius: 10px;
    border: 2px rgb(63, 61, 61);
    width: 78%;
    height: 100%;
    margin: auto;
    
}
#loser_frontpage {
    background-color: rgb(227, 227, 233);
    display: grid;
    grid-template-rows: 12% 88%;
    color:rgb(253, 0, 0);
    border-radius: 10px;
    width: 78%;
    height: 100%;
    margin: auto;
}
.title_frontpage {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2.3rem;
    margin-top: 3%;
}

table {
    height: 100%;
    margin: auto;
    width: 70%;
    text-align: center;
    /* grid-area: ta; */
}
td {
    font-size: 2.1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
th {
    font-size: 3.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.company {
    color: black;
}
header {
    height:100%;
    display: flex;
    margin: auto;
}


/* footer {
    bottom: 0px;
    width: 100vw;
    height: 10%;
    background-color: rgb(82, 82, 82);
} */