* {
    padding: 0;
    margin: 0;
}
nav {
    margin-top: 5%;
    display: flex;
    position: relative;
    text-decoration: none;
    justify-content: center;
}   
a {
    text-decoration: none;
    color: black;   
    font-size: 5.25rem;
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 200;
    /* margin: 10%; */
    

}
a:hover {
    color:solid black;
}

body {
    background: white
    width: 100%;
    background-repeat: no-repeat;
    
}
li {
    float: left;
}
/* icon för meny */


.burger div {
    width: 37px;
    height: 5px;
    background-color:black;
    margin: 5px;
    border-radius: 20px;
    transition: all 0.5s;
}
.burger {
    position: fixed;
    top: 7%;
    right: 7%;
    z-index: 100;
}


.burger-toggle #line2{
    opacity: 0;
}

.burger-toggle #line1{
    transform: rotate(-45deg) translate(-5px, 7px);
}

.burger-toggle #line3{
    transform: rotate(45deg) translate(-6px, -10px);
}

.nav{
    display: flex;
    position: fixed;
    top: -130vh;
    width: 100%;
    height: 120vh;
    flex-direction: column;
    justify-content: center;
    background: rgb(255, 255, 255);
    transition: top 1s;
    font-family: ff-basic-gothic-pro, sans-serif;
    text-decoration: 2px underline;
    gap: 10%;   
} 
    
#mainpage {
    display: flex;
    justify-content: center;
}






#val1 a {
    font-size: 4rem;
}
#val2 a {
    font-size: 4rem;
}
#val3 a {
    font-size: 4rem;
}



.toggle {
    top: 0;
}
.nav #val1 {
    display: flex;
    justify-content: center;
}
.nav #val2 {
    display: flex;
   justify-content: center;
}
.nav #val3 {
    display: flex;
    justify-content: center;
}

#frontpage {
    display: grid;
    grid-template-rows: 30% 30% 30%;
    height: 100vh;
    gap: 2%;
}
#news_frontpage {
    background-color: rgb(247, 247, 247);
    display: grid;
    grid-template-rows: 12% 78% 10%;
    border-radius: 10px;
    color: black;
    width: 78%;
    height: 100%;
    margin: auto;
    border: 1px solid rgba(109, 107, 107, 0.5);
    -webkit-box-shadow: 0px 7px 18px 1px rgba(143,141,143,0.59);
    -moz-box-shadow: 0px 7px 18px 1px rgba(143,141,143,0.59);
    box-shadow: 0px 7px 18px 1px rgba(143,141,143,0.59);
}
.img_stock {
    height: 90%;
    border-radius: 10px;
    margin: auto;
    /* margin-bottom: 10px; */
}
h2{
    margin: auto;
    font-family:ff-basic-gothic-pro, sans-serif; ;
}
.title_frontpage {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-size:2rem;
    margin: auto;
    padding: 2px;
}
#winner_frontpage {
    background-color: rgb(247, 247, 247);
    display: grid;
    grid-template-rows: 12% 88%;
    border-radius: 10px;
    border: 2px rgb(63, 61, 61);
    width: 78%;
    height: 100%;
    margin: auto;
    color: green;   
    border: 1px solid rgba(109, 107, 107, 0.5);
    -webkit-box-shadow: 0px 7px 18px 1px rgba(143,141,143,0.59);
    -moz-box-shadow: 0px 7px 18px 1px rgba(143,141,143,0.59);
    box-shadow: 0px 7px 18px 1px rgba(143,141,143,0.59);
    
}
#loser_frontpage {
    background-color: rgb(247, 247, 247);
    display: grid;
    grid-template-rows: 12% 88%;
    border-radius: 10px;
    width: 78%;
    height: 100%;
    color: red;
    margin: auto;
    border: 1px solid rgba(109, 107, 107, 0.5);
    -webkit-box-shadow: 0px 7px 18px 1px rgba(143,141,143,0.59);
    -moz-box-shadow: 0px 7px 18px 1px rgba(143,141,143,0.59);
    box-shadow: 0px 7px 18px 1px rgba(143,141,143,0.59);
}


table {
    height: 100%;
    margin: auto;
    width: 70%;
    text-align: center;
    
}
td {
    font-size: 2rem;
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* border: 1px solid black; */
    
    padding: 0;
    

}
th {
    font-size: 2rem;
    font-family: ff-basic-gothic-pro, sans-serif;
    color: black;
    margin: auto;
}
.company {
    color: black;
    border: none;
    text-decoration: 0.6px underline;
    font-size: 3rem;
    /* background: rgb(227, 227, 233); */
}
header {
    height:100%;
    display: flex;
    margin: auto;
}

.positive {
    color: green;
}
.negative {
    color: red;
}




/* HÄR BÖRJAR BÖRSEN_IDAG.HTML */





#gridwrapper {
    display: grid;
    grid-gap: 3%;
    height: 70vh;
    grid-template-rows: 33% 33% 33%;
}

.table {
    background-color: rgb(250, 250, 250);
    width: 90%;
    margin: auto;
    border-radius: 5px;
    -webkit-box-shadow: 11px 11px 7px -10px rgba(156,156,156,0.67);
    -moz-box-shadow: 11px 11px 7px -10px rgba(156,156,156,0.67);
    box-shadow: 11px 11px 7px -10px rgba(156,156,156,0.67);
}









.newswrapper {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    border-radius: 10px;
    color: black;
    width: 85%;
    height: 120vh;
    margin: auto;
    border: 1px solid rgba(109, 107, 107, 0.5);
    padding: 0;
    webkit-box-shadow: 11px 11px 7px -10px rgba(156,156,156,0.67);
    -moz-box-shadow: 11px 11px 7px -10px rgba(156,156,156,0.67);
    box-shadow: 11px 11px 7px -10px rgba(156,156,156,0.67);
    gap: 10px;
    
    
}
#breaking_news_picture {
    background-image: url(../img/david-thielen-R5Ob28wpWzo-unsplash.jpg);
    background-position: 50% 50%;
    
}


.news {
    display: grid;
    grid-template-rows: 12% 88%;
    background-color: rgb(255, 255, 255);
    margin: 13px;
    border-radius: 10px;
}
.newstitle {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}


.footer {
    background-color: black;
}

